page-main {
  .background-div{
    width:100%;
    height:100%;
    background-image:url('../assets/image/main.png');
    background-size: 100% 100%;
  }

  .venda-avanzada-btn{
    position: absolute;
    width: 20vw;
    top: 60%;
    left: 16vw;
    color: black;
    border-color: black;
    p::first-letter{
      font-weight:bold !important;
      font-family:url('../assets/font/myfont1.otf');
    }
  }

  .oferta-commercial-btn{
    position: absolute;
    width: 20vw;
    top: 60%;
    left: 40vw;
    color: black;
    border-color: black;
    p::first-letter{
      font-weight:bold !important;
      font-family:url('../assets/font/myfont1.otf');
    }
  }

  .vinos-extranjeros-btn{
    position: absolute;
    width: 20vw;
    top: 60%;
    left: 64vw;
    color: black;
    border-color: black;
    p::first-letter{
      font-weight:bold !important;
      font-family:url('../assets/font/myfont1.otf');
    }
  }
}
