page-quantity-popup {
    .unidades-font {
      font-size: 15px;
      padding-top: 20px;
      margin-left: 14px;
      font-weight: bold;
    }

    .minus-plus-div {
      width: 170px;
      height: 40px;
      margin-left: 15px;
      margin-top: 15px;
      border: 1px solid gray;
      border-radius: 2px;
      vertical-align: middle;
      display: flex;
      align-items: center;
      justify-content: center;

      .minus-btn {
        color: gray;
        font-size: 40px;
        margin-left: 15px;
        margin-top: 0px;
        margin-bottom: 5px;
      }

      .plus-btn {
        color: #d8444f;
        font-size: 43px;
        margin-right: 12px;
        margin-top: 0;
        margin-bottom: 8px;
      }

      .input-div {
        font-size: 20px;
        width: 100px;
        text-align: center;

        .text-input {
          text-align: center;
          font-weight: bold;
        }
      }
    }

    .div-06 {
      font-size: 20px;
      width: 80px;
      height: 36px;
      border-radius: 18px;
      border: 1px solid white;
      text-align: center;
      color: gray;
      margin-left: 14px;
      margin-top: 25px;
      float: left;
      padding: 5px;
    }

    .bottom-line {
      background-color: #d3000f;
      width: 200px;
      height: 10px;
      float: left;
      margin-top: 20px;
    }
}
